<article class="Header">
	<section class="Header-content">
		<h1 class="Header-copy-primary">
			Hey there! I'm <span class="Header-hint">Gregory Lopez</span> 🤟🏾
		</h1>
		<h2 class="Header-copy-secondary">Frontend Developer & Typescript Lover</h2>
		<h3 class="Header-copy-tertiary">
			¿ Dé que lado estás ? Backend, Frontend.. No importa cual elijas, que el código te acompañe
			padawan!
		</h3>

		<img class="Header-memoji" src="assets/images/iamgld-memoji-purple.jpeg" alt="iamgld memoji" />
	</section>
</article>
